.navbar {
    position: absolute;
   max-width: 95%;
}

body {
    background-color:black;
    color: white;
}

hr {
    display: block;
    height: 2px;
    border-color: white;
    max-width: 95%;
}

.bg-info {
    width: 100%;
}

.fas {
    font-size: 1.5rem;
}

.card-img-top {
    size: 30%;
}

.fab {
    color: white;
    
}

.img-logo {
    height: 25%;
}

.qs-text {
    max-width: 95%;
}

.links {
    font-size: 2rem;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.card-body {
    padding-top: 2em;
    padding-bottom: 2em;
}

.VIAJESCHILE {
    color: white;
}